
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/oxygen400.ttf) format('truetype');
  src: url(fonts/oxygen400.woff) format('woff');
  src: url(fonts/oxygen400.eot);
  src: local('Oxygen'), local('Oxygen-Regular'), url(fonts/oxygen400.eot) format('embedded-opentype'), url(fonts/oxygen400.woff) format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/oxygen700.ttf) format('truetype');
  src: url(fonts/oxygen700.woff) format('woff');
  src: url(fonts/oxygen400.eot);
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(fonts/oxygen700.eot) format('embedded-opentype'), url(fonts/oxygen700.woff) format('woff');
}

body {
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    min-width: 320px;
    background-color: #00B0F0;
    color: #0;
}
